<header class="header">
  <div class="container header__row">
    <a class="header__brand" href="{{ routes.root_url }}">
      {% if settings.logo != blank %}
        {{ settings.logo | image_url: width: 260 | image_tag: alt: shop.name, class: 'header__logo' }}
      {% else %}
        {{ shop.name }}
      {% endif %}
    </a>

    <nav class="header__nav" aria-label="Main navigation">
    <a href="/collections/all">Shop</a>

    {% if pages['about'] %}
      <a href="{{ pages['about'].url }}">About</a>
    {% else %}
      <a href="/pages/about">About</a>
    {% endif %}

    {% if pages['contact'] %}
      <a href="{{ pages['contact'].url }}">Contact</a>
    {% else %}
      <a href="/pages/contact">Contact</a>
    {% endif %}
    </nav>


    <a href="{{ routes.cart_url }}" class="btn btn--ghost">Cart ({{ cart.item_count }})</a>
  </div>
</header>
